body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image:url(Untitled\ design\ \(3\).png);

  }
  
  .outerBox{
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    width: 70%;
    left: 20%;

    /* margin-left: 186px; */
  }
  h1, h2 {
    text-align: center;
  }
  
  .input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 50px;
  
  }

  form{
    margin-top: 20px;
  }

  img{
    width: 1100px;
  }
  
  .input-section label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .input-section input[type="number"], .input-section input[type="date"] {
    padding: 8px;
    margin-right: 10px;
  }
  
  .input-section button {
    padding: 9px 30px;
    background-color: #4796f1;
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 36px;
    cursor: pointer;
  }

  #add-btn{
    font-size: 1rem;
    font-weight: bold;
  }
  
  .expenses-list {
    margin: 20px;
  }
  
  /* table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tfoot td {
    font-weight: bold;
  } */
  
  .deleteb {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.viewList{
  display: flex;
  align-items: center;
  justify-content: center;
}


